<div class="modal" [ngStyle]="{ display: toggle }">
  <h1>Your Password</h1>
  <i (click)="modalToogle()">❌</i>
  <div class="password">{{ password.slice(0, 30) }}</div>
</div>
<div class="mainarea">
  <h1>Password Builder</h1>
  <div>
    <label
      >Password Length
      <input type="number" (change)="modifyLength($event.target)"
    /></label>
  </div>
  <div>
    <label>
      <input (change)="modifyLetters()" type="checkbox" />
      Use Alphabet
    </label>
  </div>
  <div>
    <label>
      <input (change)="modifyNumbers()" type="checkbox" />

      Use Number
    </label>
  </div>
  <div>
    <label>
      <input (change)="modifySymbols()" type="checkbox" />

      Use Symbol
    </label>
  </div>
  <div>
    <button
      [disabled]="
        !(length && (includeLetters || includeNumbers || includeSymbols))
      "
      (click)="buttonClick()"
    >
      Create
    </button>
  </div>
</div>
<app-second></app-second>
